<h3>Edit <%= @name %></h3>
<form method = 'post' action = "/year/<%= @year_id %>/list/<%= @list_id %>/edit">
	<label>Name:</label>
	<input name = "edit" value = "<%= params[:edit] || @name %>">

	<br><br>
	<button type = 'submit'>Submit</button>
</form>

<br><br>

<form method = 'post' action = "/year/<%= @year_id %>/list/<%= @list_id %>/delete_list" >
	<button type = "submit">Delete List</button>
</form>

<br>

<a href = "/year/<%= @year_id %>/list/<%= @list_id %>"><h4>Cancel</h4></a>