<h2><%= @name %></h2>

<% unless @list.size == 0 %>
	<h3><li>Expenses:</h3>
	<% @list.each do |expense| %>
		<ul><%= expense.name %>: <strong><%= display_cost(expense.cost) %>
			</strong></ul>
	<% end %>
	<h3>Total: <%= display_cost(@list.sum) %></h3>
	</li>
<% end %>

<a href = "/year/<%= @year_id %>/list/<%= @list_id %>/add"><h3>Add Expense</a></h3>

<br>

<a href = '/year/<%= @year_id %>'>Expense Categories</a>