<h2><%= @name %></h2>

<% unless @list.size == 0 %>
	<li>Expenses:
	<% @list.each do |expense| %>
		<ul><%= expense.name %>: <strong><%= display_dollar_commas(expense.cost) %>
			</strong></ul>
	<% end %>
	<h3>Total: <%= display_dollar_commas(@list.sum) %></h3>
	</li>
<% end %>

<a href = "/year/<%= @year_id %>/list/<%= @list_id %>/add"><h3>Add Expense?</a></h3>